.buttonBox {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border: solid black 2px;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
   

}